### Pyspark Challenge

In [7]:
from pyspark.sql import SparkSession
from pyspark.sql.types import *
from pyspark.sql.functions import *

In [43]:
spark=SparkSession.builder.appName('SparkChallenge.com').getOrCreate()

#### 1. Create a PySpark DataFrame for an Indian Employee Database and display the schema & first 3 rows?

In [14]:
## create a dataframe
data=[(1,'Amit','IT',60000),
      (2,'Priya','HR',55000),
      (3,'Rahul','Finance',75000),
      (4,'Sneha','IT',80000),
      (5,'Karan','HR',65000)]

employee_df=spark.createDataFrame(data=data,schema=['id','name','dept','salary'])
## displaying top 3 rows by id
employee_df.show(3)

+---+-----+-------+------+
| id| name|   dept|salary|
+---+-----+-------+------+
|  1| Amit|     IT| 60000|
|  2|Priya|     HR| 55000|
|  3|Rahul|Finance| 75000|
+---+-----+-------+------+
only showing top 3 rows

#### 2.Filter employees earning more than ₹70,000?

In [15]:
employee_df.filter(employee_df.salary>70000).show()

+---+-----+-------+------+
| id| name|   dept|salary|
+---+-----+-------+------+
|  3|Rahul|Finance| 75000|
|  4|Sneha|     IT| 80000|
+---+-----+-------+------+

#### 3.Calculate the average salary per department?

In [44]:
employee_df.groupBy('dept').agg(avg('salary').alias('Average Salary')).show()

+-------+--------------+
|   dept|Average Salary|
+-------+--------------+
|     HR|       60000.0|
|     IT|       70000.0|
|Finance|       75000.0|
+-------+--------------+

#### 4.Find employees whose name starts with ‘A’?

In [18]:
employee_df.filter(employee_df.name.startswith('A')).show()

+---+----+----+------+
| id|name|dept|salary|
+---+----+----+------+
|  1|Amit|  IT| 60000|
+---+----+----+------+

#### 5. Count the number of employees in each department?

In [45]:
employee_df.groupby('dept').agg(count(col('id')).alias('No of Employees')).show()

+-------+---------------+
|   dept|No of Employees|
+-------+---------------+
|     HR|              2|
|     IT|              2|
|Finance|              1|
+-------+---------------+

####  6.Add a Tax Deduction column (10% of salary)?

In [26]:
employee_df.withColumn('tax_deduction',col('salary')*(0.1)).show()

+---+-----+-------+------+-------------+
| id| name|   dept|salary|tax_deduction|
+---+-----+-------+------+-------------+
|  1| Amit|     IT| 60000|       6000.0|
|  2|Priya|     HR| 55000|       5500.0|
|  3|Rahul|Finance| 75000|       7500.0|
|  4|Sneha|     IT| 80000|       8000.0|
|  5|Karan|     HR| 65000|       6500.0|
+---+-----+-------+------+-------------+

####  7.Sort employees by Salary (Descending Order)?

In [31]:
employee_df.sort(col('salary').desc()).show()

+---+-----+-------+------+
| id| name|   dept|salary|
+---+-----+-------+------+
|  4|Sneha|     IT| 80000|
|  3|Rahul|Finance| 75000|
|  5|Karan|     HR| 65000|
|  1| Amit|     IT| 60000|
|  2|Priya|     HR| 55000|
+---+-----+-------+------+

#### 8.Find the Second Highest Salary (without LIMIT or OFFSET)?

In [35]:
employee_df.sort(col('salary').desc()).collect()[1][3]

75000

#### 9.Filter employees in HR or IT Department?

In [36]:
employee_df.filter(col('dept').isin('HR','IT')).show()

+---+-----+----+------+
| id| name|dept|salary|
+---+-----+----+------+
|  1| Amit|  IT| 60000|
|  2|Priya|  HR| 55000|
|  4|Sneha|  IT| 80000|
|  5|Karan|  HR| 65000|
+---+-----+----+------+

#### 10.Calculate the Total Salary Paid by the Company?

In [42]:
employee_df.agg(sum('salary').alias('Total Salary')).show()

+------------+
|Total Salary|
+------------+
|      335000|
+------------+